::placeholder {
  color: #999999;
}
.payment-form {
  margin-top: 1rem;
  color: #000;
}

.form-title {
  font-weight: 600;
  text-align: center;
  color: #000;
}

.radio-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.radio-group label {
  color: #000;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  color: #000;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;

  background: #fff;
  color: #000;
  font-size: 14px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.nav-btn {
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-light {
  width: 100%;
  padding: 10px 0;
  background: #e0e0e0;
  border: none;
  border-radius: 6px;
  font-weight: 500;
}

.btn-primary {
  width: 100%;
  padding: 10px 0;
  background: #7452f3;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
}
input {
  border: 0 0 1px 0;
}
.bg-active {
  background: #ececec21;
  border-left: 5px solid #fff;
}
